<ion-header>
  <ion-navbar>
    <ion-title>
      Items
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-toolbar>
    <ion-searchbar color="dark" [(ngModel)]="searchItemName"></ion-searchbar>
    </ion-toolbar>
        <ion-list>
            <ion-list-header>
                Items : {{listName}}
                    <ion-icon item-end name="add-circle-outline" (click)="createItem()"></ion-icon>
            </ion-list-header>
            <ion-item-sliding *ngFor="let idx = index; let item of items |customFilter: {others :{itemName:searchItemName}}">
                <ion-item>
                    <ion-avatar item-start="">
                      <img src="../assets/imgs/logo.png">
                    </ion-avatar>
                    
                    <ion-label>
                     <h2>{{item.others.itemName}}</h2>
                     <p>I've had a pretty messed up day. If we just...</p>
                     <!--<ion-checkbox color="secondary" style="float: left;margin-right:8px;"></ion-checkbox>
                     <p style="height: 21px; margin-top: 12px;">Bought</p>-->
                        <ion-row>
                            <ion-checkbox color="danger"></ion-checkbox>
                            <p style="height: 21px; margin-top: 12px;">Bought</p>
                            <ion-icon name="ios-chatboxes-outline" style="margin: 8px 16px 8px 16px;"></ion-icon>
                        </ion-row>                            
                        </ion-label>
                    
                    
                    
                          <!-- <ion-label>Bought</ion-label>-->
                            <!--<ion-checkbox color="danger"></ion-checkbox>-->
                     <!--<ion-row>
                        <ion-col>
                            <ion-item>
                            <ion-label>Bought</ion-label>
                            <ion-checkbox color="danger"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>-->
                </ion-item>

             <!--   <ion-item>
                    <ion-row>
                        <ion-col col-2>
                            <ion-avatar item-start="">
                                <img src="../assets/imgs/logo.png">
                            </ion-avatar>
                        </ion-col>
        
                        <ion-col col-10>
                            <ion-row>
                                <ion-col>
                    
                                    <h2>{{item.others.itemName}}</h2>
                                    <p>I've had a pretty messed up day. If we just...</p>
                                </ion-col>
                             </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-checkbox></ion-checkbox><ion-label>Bought</ion-label>

                                         </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
           
                </ion-item>-->
                <!--<ion-item-options side="left">
                    <button ion-button (click)="shareUsers(channel.itemsList,channel.others.twilioChannelId)">
                        <ion-icon name="md-share" ></ion-icon>
                        Share
                    </button>
                    <button ion-button color="danger" >
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>-->
            </ion-item-sliding>
        </ion-list>
</ion-content>

<!--<div class="container">
    <div class="col-md-12">
        <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 25px;color: #3f6e96;padding-right: 5px;cursor: pointer;" (click)="navigateBack()"></i>
        <h2 style="display:inline-block;">Items :</h2>
        <span [innerHtml]="listName" style="font-size:20px;"></span>
        <span class="glyphicon glyphicon-plus pull-right well well-sm" style="margin-top:20px;cursor: pointer;" (click)="createItem()"></span>
    </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let item of items;let idx = index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{idx}}">{{item.others.itemName}}</a>
        </h4>
      </div>
      <div id="collapse{{idx}}" class="panel-collapse collapse">
        <div class="panel-body">
            <span  (click)="openChart($event,idx,container[idx])"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
        </div>
        <div class="panel-body" [hidden]="!container[idx]">
            <input type="text" placeholder="Describe yourself here..." class="form-control col-md-12" style="width:100%;"/>
        </div>
      </div>
    </div>
  
  </div> 

 
</div>
    
  <div class="modal fade customModal" id="itemModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Create Item</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Item Name:</label>
              <input type="text" class="form-control"  placeholder="Item Name" [(ngModel)]="itemName" [ngModelOptions]="{standalone: true}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-default pull-right" (click)="saveItem()">Save</button>
        </div>
      </div>
      
    </div>
  </div>-->