<ion-tabs class="nav-bottom">
  <!--<ion-tab [root]="tab1Root" tabTitle="Lists" tabIcon="i-list-img-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add List" tabIcon="i-add-img-outline" *ngIf="isItemListPage"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Add Item" tabIcon="i-add-img-outline" *ngIf="!isItemListPage"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="i-profile-img-outline"></ion-tab>--> 

    <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabTitle]="tab.title" [tabIcon]="tab.icon"></ion-tab>
</ion-tabs>
