<ion-header>
    <ion-navbar>
      <ion-title>
        About
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="password" placeholder="Enter OTP" [(ngModel)]="otp"></ion-input>
    </ion-item>
  </ion-list>

  <div padding class="action-sheet-ios">
    <button ion-button color="primary" (click)="verify()">Verify OTP</button>
      <button ion-button clear (click)="resendOTP()">Resend OTP</button>
  </div>


<!--<div class="container">
    <form class="form-inline container-mobile">
        <div class="form-group"  style="display:block">
            <input class="form-control input-sm input-field-width" type="text" placeholder="Enter OTP" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}"/>
        </div>
    <button type="button" class="btn btn-danger btn-md btn-round" (click)="verify()">Verify OTP <span class="glyphicon glyphicon-arrow-right text-justify"></span></button>   
    <button type="button" class="btn btn-md btn-link" (click)="resendOTP()">Resend OTP</button>
    </form>
    
</div>-->

</ion-content>  