<ion-header>
  <ion-navbar>
    <ion-title>
      Share List
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <!--class="searchbar searchbar-ios searchbar-left-aligned searchbar-active"-->
     <ion-toolbar>
    <ion-searchbar color="dark" [(ngModel)]="myInput"></ion-searchbar>
    </ion-toolbar>
<ion-list>
  <ion-item *ngFor="let idx = index; let user of allContacts |customFilter: {_objectInstance :{name: {givenName : myInput}}} ">
    <ion-label [innerHtml]="user._objectInstance.name.givenName">Pepperoni</ion-label>
    <ion-checkbox color="danger"  [(ngModel)]="user['isChecked'+idx]" ></ion-checkbox>
  </ion-item>
</ion-list>
    <div padding>
    <button ion-button color="primary" block (click)="shareListToUsers()" disabled>Share</button>
  </div>
</ion-content>

<!--<div class="container">
    <div class="col-md-12">
            <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 25px;color: #3f6e96;padding-right: 5px;cursor: pointer;" (click)="navigateBack()"></i>
            <h2 style="display:inline-block;">Share User</h2>
        </div>
    <form class="container-mobile" style="margin-top:0px;">
        
        <div class="panel-group">
            <div class="panel panel-default"  *ngFor="let user of allUsers;let idx = index">
                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align:left;">
                        <input type="checkbox" class="" value="{{user.usr}}" [(ngModel)]="user['isChecked'+idx]" [ngModelOptions]="{standalone: true}"/>
                        <span [innerHtml]="user.others.userName"></span>
                    </h4>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-md btn-round" (click)="shareListToUsers()">Share</button> 
           
    </form>
    
    
</div>-->