
<ion-header>
    <nav class="nav-top">
    		<div class="title">
        		<span class="i-cus i-menu"></span>
                <h4>Create new list</h4>
            </div>
           
    	</nav>
</ion-header>

<ion-content>
	<ion-row>
          <ion-col>
              <ion-input type="text" placeholder="List Name" [(ngModel)]="listName"></ion-input>
        </ion-col>
      </ion-row>
    <div padding class="action-sheet-ios">
    <button ion-button color="primary" (click)="saveChannel()">Create Item List</button>
      
  </div>
</ion-content>
