<!--<ul>
    <li *ngFor="let channel of subscribedChannels">
        {{channel.friendlyName}}
    </li>
</ul>-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-navbar>
    
</ion-header>

<ion-content padding>
    <ion-searchbar color="dark" [(ngModel)]="searchListName"></ion-searchbar>
    <ion-list>
        <ion-list-header >
            Lists
            <!--<button ion-button outline item-end (click)="createChannel()">-->
                <ion-icon item-end name="add-circle-outline" (click)="createChannel()"></ion-icon>
            <!--</button>-->
        </ion-list-header>
  <ion-item-sliding *ngFor="let channel of subscribedChannels |customFilter: {others :{listName:searchListName}}">
    <ion-item (click)="showItems(channel.itemsList,channel.others.listName)">
      {{channel.others.listName}}
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="shareUsers(channel.itemsList,channel.others.twilioChannelId)">
          <ion-icon name="md-share" ></ion-icon>
          Share
      </button>
      <button ion-button color="danger" >
          <ion-icon name="trash"></ion-icon>
          Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


<!--<div class="container">
    <div class="col-md-12">
        <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 25px;color: #3f6e96;padding-right: 5px;cursor: pointer;" (click)="navigateBack()"></i>
        <h2 style="display:inline-block;">Items List</h2>
        <span class="glyphicon glyphicon-plus pull-right well well-sm" style="margin-top:20px;cursor: pointer;" (click)="createChannel()"></span>
    </div>
  
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let channel of subscribedChannels;let idx = index">
      <div class="panel-heading">
        <h4 class="panel-title" >
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{idx}}" (click)="showItems(channel.itemsList,channel.others.listName)">{{channel.others.listName}}</a>
            <span class="pull-right" (click)="shareUsers(channel.itemsList,channel.others.twilioChannelId)"><i class="fa fa-share-alt"></i></span>
        </h4>
          
      </div>
      
    </div>
  
  </div> 

    
</div>-->
   <!-- Modal -->
 <!-- <div class="modal fade customModal" id="channelModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
    
     
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Create ItemList</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> List Name:</label>
              <input type="text" class="form-control"  placeholder="List Name" [(ngModel)]="listName" [ngModelOptions]="{standalone: true}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-default pull-right" (click)="saveChannel()">Save</button>
        </div>
      </div>
      
    </div>
  </div>-->

</ion-content>